.enquirisPanel{
    position: relative;
    width: 75%;
    border: 1px solid red;
    padding: 3rem 3em;
    display: flex;
    flex-direction: column;
}
.input-field{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.input-field label{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}
.sName{
    position: relative;
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
    /* flex-wrap: wrap; */
}
.txt-inputs{
    width: 50%;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}
.address{
    position: relative;
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
}
.fw{
    width: 100%;
}
.dist-state{
    display: flex;
    width: 100%;
    gap: 5px;
}
.inp{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-number{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    margin-top: 20px;
}
.submitBtn{
    display: flex;
    width: 100%;
    padding: 0 400px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.btn{
    background-color: green;
    padding: 5px 15px;
    border: none;
    font-size: larger;
    border-radius: 5px;
    color: aliceblue;
}